<!doctype html> 
<html> 
<title>Brain Tumor Detection</title>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1 class="text-center bg-primary text-white py-3">Brain Tumor Detection</h1>
    <div class="container text-center">
        <div class="border rounded p-3">
            <img src="{{ url_for('static', filename='b.jpg') }}" alt="" class="img-thumbnail w-25 mb-3" />
            <div class="text-start">
                <p>A brain tumor is a mass or growth of abnormal cells in your brain. Many types exist, both benign and malignant...</p>
                <p class="fw-bold text-info">Types</p>
                <p>Acoustic neuroma, Astrocytoma, Brain metastases, etc.</p>
                <p class="fw-bold text-info">Symptoms</p>
                <p>Headaches, seizures, personality changes, etc.</p>
            </div>
            <a href="{{ url_for('uimg') }}" class="btn btn-primary mt-3">Detect Brain Tumor</a>
        </div>
        <footer class="mt-3 bg-light py-2">Developed by Sarvesh Kumar Sharma</footer>
    </div>
</body>
</html>